.search input {
    width: 250px;
    height: 35px;
    padding: 5px;
    border: 1px #777 solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}